[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
pytz = "==2018.5"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.7"
